<div class="author-modal-content">
    <span class="close-modal" id="closeModal">&times;</span>
    <h2>Об авторе</h2>
    <div class="author-info">
        <img src="/static/images/author-photo.jpg" alt="Фото автора" class="author-photo">
        <h3>Алибеков Аслан Алибегович</h3>
        <p class="author-description">
            В настоящее время работаю в Лаборатории Касперского и являюсь студентом первого курса магистратуры факультета Прикладной математики и информатики МЭИ.
        </p>
    </div>
    <div class="social-links">
        <a href="https://github.com/AlibekovAA" target="_blank" title="GitHub" class="social-link">
            <i class="fab fa-github"></i>
        </a>
        <a href="https://t.me/alibekov_05" target="_blank" title="Telegram" class="social-link">
            <i class="fab fa-telegram"></i>
        </a>
        <a href="mailto:aslan.alibekov.2017@mail.ru" title="Email" class="social-link">
            <i class="fas fa-envelope"></i>
        </a>
    </div>
</div>
